<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('graph') }}">그래프</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if current_user.is_authenticated %}
                        <a class="dropdown-item" href="/logout">logout</a>
                    {% else %}
                        <a class="dropdown-item" href="/login">login</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for("hello_0703") }}">0703</a>
                    <a class="dropdown-item" href="{{ url_for("hello_0705") }}">0705</a>
                    <a class="dropdown-item" href="{{ url_for("hello_0709") }}">0709</a>
                    <a class="dropdown-item" href="{{ url_for("hello_0717") }}">0717</a>
                    <a class="dropdown-item" href="{{ url_for("hello_0718") }}">0718</a>
                    <a class="dropdown-item" href="{{ url_for("search") }}">search</a>
                    <a class="dropdown-item" href="{{ url_for("pandas_index") }}">form</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for("booking") }}">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>